# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment variables
.env

# SQLite databases
*.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db